
@font-face { font-family: averta; src: url('../Images/Font/averta_regular.woff') format("woff");}
@font-face { font-family: averta; src: url('../Images/Font/averta_bold.woff') format("woff"); font-weight: bold;}
@font-face { font-family: averta_semibold; src: url('../Images/Font/averta_semibold.woff') format("woff");}

body {
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 0;
  margin-right: 20px;
  font-family: averta;
  background-color: grey;
}

div.full-width {
  width: 80%;
}

h1 {
  text-transform: uppercase;
  color: #232329;
  font-size: 48px;
  margin-bottom: 8px;
}
h2 {
  font-size: 24px;
  font-family: averta_semibold;
  color: #4A4A4A;
  margin-bottom: 32px;
}
h3 {
    text-transform: uppercase;
    color: #232329;
    font-size: 36px;
    margin-bottom: 16px;
}
h4 {
      text-transform: uppercase;
      font-family: averta;
      font-weight: bold;
      color: #FFFFFF;
      font-size: 36px;
      margin-bottom: 8px;
}
h5 {
  margin-top: 0;
  font-size: 24px;
  font-family: averta;
  font-weight: bold;
  color: #FFFFFF;
}

.header-bar {
  position:fixed;
  padding-top: 29px;
  width:1300px;
  z-index:100;
  height: 62px;
  background-color: white;
}
.header-right {
  display: inline;
  padding-left: 50%;
}
.header-left {
  display: inline;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 80px;
}
.header-left-text {
  display: inline;
  font-family: averta;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
a.header-link {
  color: black;
  font-family: averta_semibold;
  text-decoration: none;
  font-size: 16px;
  padding-right: 18px;
}

.ticket {
  border: 2px solid #b72672;
  background-color: white;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
  width: 120px;
  height: 40px;
  font-family: averta_semibold;
  font-size: 16px;
}
.ticket:hover {
  background-color: #b72672;
  color: white;
}

.title-row {
  background-color: white;
  width: 1300px;
  height: 500px;
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    /* justify-content: center;*/
}
.title-info {
  width: 50%;
  padding-left: 80px;
  padding-right: 50px;
}
.info-row {
  height: 300px;
  width: 1300px;
  background-color: #F9F9FC;
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    /* justify-content: center;*/
}
.about-row {
  padding-top: 150px;
  width: 1300px;
    height: 371px;
    background-color: #FFFFFF;
      display: flex;
      /* flex-direction: column;*/
      align-items: center;
      /* justify-content: center;*/
}
.about-image {
  padding-left: 80px;
}
.about-text {
  padding-left: 80px;
  width: 500px;
}
.mission-row {
  height: 320px;
  width: 1300px;
  background-color: #36B4C7;
  background-image: url("../Images/Blue_banner.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 320px;
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    /* justify-content: center;*/
}
.mission-text {
padding-left: 80px;
  width: 650px;
  padding-bottom: 10px;
}
.leadership-row {
  height: 120px;
  width: 1300px;
  background-color: white;
}
.chair-row {
  height: 420px;
  width: 1300px;
  background-color: white;
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    /* justify-content: center;*/
}
.activity-list {
  font-family: averta;
  width: 50%
}
.event-details {
  width: 50%;
  padding-left: 80px;
}

ul {
  list-style-type: none;
}
li {
  line-height: 30px;
  padding-bottom: 24px;
}

div.activity-text {
  padding-left: 16px;
  display: inline;
  padding-bottom: 50px;
  height: 30px;
  font-size: 24px;
  font-family: averta_semibold;
  color: #4A4A4A;
  white-space: nowrap;
}

.video-row {
width: 1300px;
  background-color: white;
  height: 400px;
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    /* justify-content: center;*/
}
.video-details {
  width: 450px;
  padding-left: 80px;
  padding-right: 80px;
}

.footer-bar {
  background-color: black;
  height: 150px;
  width: 1300px;
  padding-top: 5%;
}
.footer-image {
  width: 100%;
  text-align: center;
}

#nav {
    display: table;
    height: 16px;
    width: 1100px;
}

#nav li {
    display: table-cell;
    height: 16px;
    width: 30%;  /* (100 / numItems)% */
    line-height: 16px;
    text-align: center;
    background: #000000;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #nav li {
        display: block;
        width: 100%;
    }
}

a.footer-link-1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: averta_semibold;
  font-size: 24px;
}

a.footer-link-2 {
  color: #FFFFFF;
  opacity: .65;
  text-decoration: none;
  font-family: averta_semibold;
  font-size: 18px;
}
